<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Router management</title>
</head>
<body>
    <div class="content">
        <div id="app">
            <div v-if="loading"><ovs-network></ovs-network></div>
            <div v-else>loading....</div>

        </div>

        <template id="mytmp">
            <div>
                <div id="mynetwork" style="width: 1500px; height: 800px; border: 1px solid lightgray;"></div>
            </div>
        </template>
    </div>

<script>

Vue.component("ovs-network", {
    template: "#mytmp",
    data() {
        return {
            loading: true,
            edges: [],
            nodes: [],
            options: {
                manipulation: {
                    enabled: true,
                    initiallyActive: true,
                    addEdge: function(edgeData, callback) {
                        callback(edgeData);
                    }
                },
                nodes: {
                    physics: false
                }
            },
            container: '',
            network: null
        }
    },

    computed: {
        graph_data() {
            return {
                nodes: JSON.parse(JSON.stringify(this.nodes)),
                edges: JSON.parse(JSON.stringify(this.edges)),
            }
        }
    },

    mounted() {
        _this = this;
        axios.get("/routers/topology").then(function (response) {
            _this.loading=false;
            _this.nodes = response.data.nodes;
            _this.edges = response.data.edges;

            _this.container = document.getElementById("mynetwork");
            _this.network = new vis.Network(_this.container, _this.graph_data, _this.options);
        });
    }
});


const app = new Vue({
    el: "#app",
    data() {
        return {
            loading: true,
        }
    }
});

</script>
</body>
</html>
